/* You can add global styles to this file, and also import other style files */
.misubHeading{
    display: flex;
    justify-content: center;
}
.typingMachine{
    display: block;
    font-family: monospace;
    white-space: nowrap;
    border-right: 4px solid;
    overflow: hidden;
    width: 14ch;
    animation: typing 3.5s steps(14), blink .5s infinite step-end alternate;
    color: #6c757d;
  }

.social-icons{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

.social-icon{
    color: #0087E2;
}

.pbachelor{
    font-size: 1.5rem;
    font-weight: 400;
}
.dateGraduate{
    font-size: 1.5rem;
}

.certifications{
    text-decoration: none;
    font-size: 1.2rem;
}

@keyframes typing {
    0% { width: 0}   
}
@keyframes blink {
    50% {border-color: transparent;}
}